body * {
  font-family: cursive; }

#burger-art {
  background: url("/img/burger.jpg") no-repeat center;
  background-size: contain;
  height: 1000px; }

  .devouredBurger{
    border: 1px solid blue;
    text-align: center;



  }
  .burger{
    border: 1px solid red;
    text-align: center;

  }
